# Ignorar carpetas de entorno virtual y caché de Python
__pycache__/
*.pyc
*.pyo

# Ignorar base de datos local de SQLite (por si Django la crea)
db.sqlite3

# Ignorar archivos de configuración de Visual Studio Code
.vscode/

# Ignorar variables de entorno (contraseñas reales en el futuro)
.env